<div id="divGioHang" class="cart box_1">
    <a href="@Url.Action("XemGioHang","GioHang")">
        <h3>
            <div class="total">
                @ViewBag.Tongtien.ToString("#,##") VNĐ (<span>@ViewBag.TongSoLuong</span> Sản Phẩm)
            </div>
            <img src="~/Content/images/cart.png" alt="" />
        </h3>
    </a>
    <p><a href="@Url.Action("XemGioHang","GioHang")" class="simpleCart_empty">Giỏ Hàng</a></p>

</div>
